<style>
  .content {
    padding: 32px;
    font-size: 16px;
    line-height: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .content img {
    margin-bottom: 16px;
  }

  .content .informations {
    display: flex;
    flex-direction: column;
    background: #ee4d64;
    color: #e8e2e2;
    width: 100%;
    padding: 32px;
    font-size: 18px;
    border-radius: 8px;
  }

  .content button {
    border: 1px solid #ee4d64;
    border-radius: 4px;
    background: #e8e2e2;
    color: #ee4d64;
    padding: 16px;
    outline: 0;
    cursor: pointer;
    margin-top: 36px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
  }

  .content button:hover {
    background: #ee4d64;
    color: #e8e2e2;
  }

  .content .topics {
    margin: 16px;
    margin-top: 42px;
    font-size: 16px;
    align-self: flex-start;
  }

  .content .topics span {
    font-size: 22px;
    color: #ee4d64;
    display: flex;
    font-weight: bold;
  }

  .content .topics {
    margin-top: 42px;
  }
</style>

<div class="content">
  <img src={{logo_source}} alt="GymPoint" />

  <p>
    Antes de mais nada, parabéns pelo empenho e força de vontade, sem
    dúvida esse é o primeiro passo para um corpo e vida saudável. Abaixo
    estarão informações referentes a sua matrícula, porém já quero deixar
    também alguns conselhos e te mostrar alguns dados que comprovam que
    você está no caminho certo !!
  </p>

  <br />

  <div class="informations">
    <p>
      Sua matrícula pelo plano <strong>{{plan}}</strong> com duração de
      <strong>{{duration}}</strong> foi realizada com
      <strong>SUCESSO</strong>
    </p>

    <P>
      O valor total do programa ficou <strong>{{price}}R$</strong> e você
      inicia no dia <strong>{{start_date}}</strong>
    </P>
  </div>

  <button>Quero voltar para o site</button>

  <p class="topics">
    <span> 1. Melhora a postura corporal </span>
    A prática de musculação fortalece a musculatura que sustenta a coluna,
    melhorando a postura e diminuindo as dores nas costas por exemplo.
  </p>
  <p class="topics">
    <span> 2. Diminui a quantidade de gordura </span>
    Quando a musculação é praticada de forma regular, intensa e
    acompanhada de uma alimentação saudável, o corpo passa a queimar mais
    gordura e aumentar a massa muscular, acelerando o metabolismo e
    favorecendo o gasto calórico mesmo quando se está parado. A perda de
    gordura, além de promover benefícios estéticos e aumentar a
    auto-estima, previne uma série de doenças, como obesidade e
    aterosclerose, por exemplo.
  </p>
  <p class="topics">
    <span> 3. Tonifica os músculos </span>
    A tonificação dos músculos é uma das "consequências" visíveis da
    prática da musculação. A tonificação acontece devido à perda de
    gordura, aumento da massa muscular e fortalecimento da musculatura o
    que além de representar ganho de força, permite que haja o
    desaparecimento das celulites, por exemplo. No entanto, para que os
    músculos fiquem mais durinhos, é preciso ter uma hidratação correta e
    alimentação balanceada. Veja o que comer para ganhar massa magra.
  </p>
  <p class="topics">
    <span> 4. Combate problemas emocionais </span>
    Por promover a liberação da endorfina, que é o hormônio responsável
    pela sensação de bem-estar, a musculação pode ser uma ótima
    alternativa para aliviar o estresse, diminuir os sintomas de ansiedade
    e, até mesmo, combater a depressão. Saiba como aumentar a produção e
    liberação de endorfina.
  </p>
  <p class="topics">
    <span> 5. Aumenta a densidade óssea </span>
    A musculação aumenta a densidade óssea, ou seja, torna os ossos mais
    resistentes, diminuindo as chances de fraturas e desenvolvimento da
    osteoporose, que é comum em pessoas mais idosas e mulheres na
    menopausa. No entanto, para que os ossos fiquem realmente
    fortalecidos, é preciso que a musculação seja acompanhada de uma
    alimentação saudável, equilibrada e composta por alimentos ricos em
    cálcio e vitamina D. Veja quais são os alimentos ricos em vitamina D.
  </p>
  <p class="topics">
    <span> 6. Diminui o risco de diabetes </span>
    O risco de diabetes pode ser diminuído com a prática da musculação
    porque o organismo passa utilizar a glicose circulante como fonte de
    energia e o açúcar que se encontra em excesso no sangue passa a ser
    armazenado na forma de glicogênio, que é utilizado em outros processos
    metabólicos, por exemplo.
  </p>
  <p class="topics">
    <span> 7. Melhora o condicionamento cardiorrespiratório </span>
    Quanto mais intensa foi a musculação, maior é o trabalho do coração,
    garantindo maior condicionamento cardíaco e respiratório. Assim, há
    regulação da pressão arterial e, consequentemente, diminuição dos
    riscos de doenças cardíacas, como a aterosclerose, por exemplo.
  </p>
</div>
